<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @user, :url => password_reset_path(params[:id]), :html => {:class => "form-control"} do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      
      <div><%= f.submit "Update Password", class: "btn btn-custom" %></div>
    <% end %>
  </div>
</div>

